{
    "extends": "airbnb",
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "no-shadow": 0,
        "import/no-unresolved": 0,
        "react/require-extension": 0,
        "react/prop-types": 0
    }
}
