{ "presets": [ "es2015" ]
, "plugins": [ "transform-regenerator"
             , "transform-runtime"
             , [ "module-alias"
               , [ { "src": "./src", "expose": "src" } ]
               ]
             ]
}
