.book-edit-page {
    margin-top: 2.5em;
}

.book-edit__form {
    margin: 0.6em auto 0 auto;
    width: 50%;
    * + * { margin-top: 0.6em; }
}

.book-edit__label {
    font-size: 0.75rem;
}

.book-edit__field {
    width: 100%;
    font-size: 0.8rem;
    height: 2.5em;
    padding: 0.5em;
}