input {
    font-family: $base-font-family;
    border: 1px solid $light-gray;
    border-radius: 5px;
    text-align: right;

    &:focus {
        outline: none;
        border-color: $purple;
    }
}
